/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-card {
    margin: 10px;
    border: thin;
    border-radius: 5px;
    padding: 5px;
    height: 450px;
    width: 220px;
}

.margin-bar-card {
    margin: 10px;
    border: thin;
    border-radius: 5px;
    padding: 5px;
    height: 450px;
    width: 350px;
}

.details-image {
    max-height: 700px;
    max-width: 500px;
    box-shadow: 7px 7px 15px grey;
}

.details-bar-image {
    max-height: 750px;
    max-width: 750px;
}

.cocktails-scroll-frame {
    overflow: auto;
    width: 250px;
    height: 250px;
    border-style: hidden;
    border-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px grey;
}


.image-cocktail-index {
    height: 420px;
    width: 220px;
    object-fit: cover;
}

.image-bar-index {
    height: 280px;
    max-width: 310px;
    object-fit: cover;
    
}

.bar-card-size {
    height: 400px;
    width: 350px;
}

.search-container {
    max-width: 800px;
    height: auto;
}

.text-shadow {
    text-shadow: 2px 2px 4px #b89fb7;
}

.yellow-color {
    color: #ffd800
}

.right {
    text-align: right;
    width: 50%;
    display: inline-block;
}

.left {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.cocktail-title {
    color: #000;
    margin-bottom: 10px;
}

    .cocktail-title h4, h2 {
        font-size: 1.35rem;
        font-weight: 400;
        position: relative;
        display: inline-block;
        font-family: "Cinzel";
    }

#map {
    height: 100%;
}

.cocktail-backframe {
    height: 700px;
    position: relative;
    margin-bottom: 20px;
}

    .cocktail-backframe:before {
        content: "";
        background: #f3f4f5;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


.cocktail-backframe {
        color: #000;
    }

/*.cocktail-backframe {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}*/

    /*.cocktail-backframe:hover {
        opacity: 1;
        visibility: visible;
    }*/

.font-cinzel {
    font-family: "Cinzel";
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.recepie-container{
    height: 190px;
}
.display-none{
    display:none
}

#show-reviews {
    background-color: #930077;
    color:white;
    cursor:pointer;

}

.bars-scroll-frame {
    /*overflow: auto;*/
    max-width: calc(100vh - 80px);
    height: calc(100vh - 420px);
    border-style: hidden;
    /*border-color: cadetblue;*/
    padding: 15px;
    /*border-radius: 5px;*/
    box-shadow: 7px 7px 15px grey;
    vertical-align:middle
}

.scroll {
    overflow: auto;
    height: calc(100vh - 490px);
    overflow-x:hidden
}
.font-size-15{
    font-size:20px
}

.text-link {
    color: #930077;
    text-decoration:underline;
    cursor:pointer
}
.hr-primary {
    background-color: #930077;
}


.bar_v_1, .bar_h_1 {
    height: 420px;
    position: relative;
    margin-bottom: 30px;
}

    .bar_v_1:before, .bar_h_1:before {
        content: "";
        background: #f3f4f5;
        top: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .bar_v_1 .thumbnail, .bar_h_1 .thumbnail {
        position: relative;
        display: block;
    }

    .bar_v_1 .heading, .bar_h_1 .heading {
        font-size: 18px;
    }

        .bar_v_1 .heading a, .bar_h_1 .heading a {
            color: #000;
        }

    .bar_v_1 .bar-actions, .bar_h_1 .bar-actions {
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .bar_v_1 .bar-actions .heading-2, .bar_h_1 .baractions .heading-2 {
            font-size: 20px;
        }

            .bar_v_1 .bar-actions .heading-2 a, .bar_h_1 .bar-actions .heading-2 a {
                color: #000;
            }

        .bar_v_1 .bar-actions .price, .bar_h_1 .bar-actions .price {
            font-size: 20px;
            color: #930077;
            font-family: "Cinzel";
        }

            .bar_v_1 .bar-actions .price del, .bar_h_1 .bar-actions .price del {
                color: #ccc;
            }

        .bar_v_1 .bar-actions .rating, .bar_h_1 .bar-actions .rating {
            margin-bottom: 20px;
        }

            .bar_v_1 .bar-actions .rating span, .bar_h_1 .bar-actions .rating span {
                font-size: 16px;
                color: #ffbd39;
            }

        .bar_v_1 .bar-actions .btn, .bar_h_1 .bar-actions .btn {
            background: #930077;
            color: #fff;
            padding: 10px 20px;
            border-radius: 0;
        }

            .bar_v_1 .bar-actions .btn:hover, .bar_h_1 .bar-actions .btn:hover {
                background: #60004e;
                color: #fff;
            }

    .bar_v_1:hover .bar-actions, .bar_h_1:hover .bar-actions, .bar_v_1:focus .bar-actions, .bar_h_1:focus .bar-actions {
        opacity: 1;
        visibility: visible;
    }

