/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: Cinzel !important;
    font-weight: 400;
    /*color:darkslategray*/
}

#home-page-img {
    width: 100%;
}

.home-page-image {
    position: relative;
    text-align: center;
    color: white;
}

#home-page-a {
    color: #df1a56;
    text-decoration: none;
    background-color: transparent;
}

.under-centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    background-color: #dd1b5a6e;
}

.btn-outline-primary {
    border-color: #da1b5e
}

.cocktail-homepage {
    position: absolute;
    top: 80%;
    left: 47%;
    color: white !important;
    transform: translate(-50%, -50%);
    background-color: #dd1b5a6e;
}

    .cocktail-homepage h3 {
        color: white !important;
    }

.carousel-caption {
    background-color: #dd1b5a6e;
}

.homepage-text {
    text-align: center;
    font-size: 25px;
    color: black;
}

body.modal-open {
    padding-right: 0 !important;
}

nav,
nav .container {
    display: block !important;
    text-align: center;
    background: #fff !important;
}

    nav .container {
        border-bottom: 1px solid rgba(220, 27, 93, 0.55);
        text-align: left;
    }

    nav img {
        height: 4vw;
    }

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.page-item.active a {
    background: #dc1b5d !important;
    border-color: #cc084b !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.margin-bottom {
    margin-bottom: 50px;
}

.margin-card {
    margin: 10px;
    border: thin;
    border-radius: 5px;
    padding: 5px;
    height: 450px;
    width: 220px;
}

.margin-bar-card {
    margin: 10px;
    border: thin;
    border-radius: 5px;
    padding: 5px;
    height: 450px;
    width: 350px;
}

.details-image {
    max-height: 650px;
    max-width: 500px;
    box-shadow: 7px 7px 15px grey;
}

.details-bar-image {
    height: 500px;
    width: 1000px;
    object-fit: cover;
}

.edit-bar-image {
    height: 600px;
    max-width: 550px;
    object-fit: cover;
}


.cocktails-scroll-frame {
    overflow: auto;
    width: 250px;
    height: 250px;
    border-style: hidden;
    border-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 7px 7px 15px grey;
}


.image-cocktail-index {
    height: 360px;
    width: 220px;
    object-fit: cover;
}

.image-cocktail-carousel {
    height: 200px;
    width: 150px;
    object-fit: cover;
}


.image-bar-index {
    height: 270px;
    max-width: 310px;
    object-fit: cover;
}

.bar-card-size {
    height: 400px;
    width: 350px;
}

.search-container {
    max-width: 800px;
    height: auto;
}

.text-shadow {
    text-shadow: 2px 2px 4px #b89fb7;
}

.yellow-color {
    color: #ffd800 !important
}

.right {
    text-align: right;
    width: 50%;
    display: inline-block;
}

.left {
    text-align: left;
    width: 49%;
    display: inline-block;
}

.cocktail-title {
    color: #000;
    margin-bottom: 10px;
}

    .cocktail-title h4, h2 {
        font-size: 1.35rem;
        font-weight: 400;
        position: relative;
        display: inline-block;
        font-family: "Cinzel";
    }

#map {
    height: 100%;
}

.cocktail-backframe {
    height: 700px;
    position: relative;
    margin-bottom: 20px;
}

    .cocktail-backframe:before {
        content: "";
        background: #f3f4f5;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }


.cocktail-backframe {
    color: #000;
}

/*.cocktail-backframe {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}*/

/*.cocktail-backframe:hover {
        opacity: 1;
        visibility: visible;
    }*/

.font-cinzel {
    font-family: "Cinzel";
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.recepie-container {
    height: 180px;
}

.display-none {
    display: none
}

#show-reviews {
    background-color: #df1a57;
    color: white;
    cursor: pointer;
}

.float-right {
    float: right;
}

.bars-scroll-frame {
    /*overflow: auto;*/
    max-width: calc(100vh - 80px);
    height: calc(100vh - 450px);
    border-style: hidden;
    /*border-color: cadetblue;*/
    padding: 15px;
    /*border-radius: 5px;*/
    box-shadow: 7px 7px 15px grey;
    vertical-align: middle
}

.scroll {
    overflow: auto;
    height: calc(100vh - 520px);
    overflow-x: hidden
}

.font-size-15 {
    font-size: 20px
}

.text-link {
    color: #da1b5e;
    text-decoration: underline;
    cursor: pointer
}

.hr-primary {
    background-color: #da1b5e;
}


.bar_v_1, .bar_h_1 {
    height: 430px;
    position: relative;
    margin-bottom: 20px;
}

    .bar_v_1:before, .bar_h_1:before {
        content: "";
        background: #f3f4f5;
        top: 20%;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .bar_v_1 .thumbnail, .bar_h_1 .thumbnail {
        position: relative;
        display: block;
    }

    .bar_v_1 .heading, .bar_h_1 .heading {
        font-size: 18px;
    }

        .bar_v_1 .heading a, .bar_h_1 .heading a {
            color: #000;
        }

    .bar_v_1 .bar-actions, .bar_h_1 .bar-actions {
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        width: 100%;
        bottom: 20px;
        background: #f3f4f5;
        opacity: 0.5;
        visibility: hidden;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

        .bar_v_1 .bar-actions .heading-2, .bar_h_1 .baractions .heading-2 {
            font-size: 20px;
        }

            .bar_v_1 .bar-actions .heading-2 a, .bar_h_1 .bar-actions .heading-2 a {
                color: #000;
            }

        .bar_v_1 .bar-actions .price, .bar_h_1 .bar-actions .price {
            font-size: 20px;
            color: #da1b5e;
            font-family: "Cinzel";
        }

            .bar_v_1 .bar-actions .price del, .bar_h_1 .bar-actions .price del {
                color: #ccc;
            }

        .bar_v_1 .bar-actions .rating, .bar_h_1 .bar-actions .rating {
            margin-bottom: 20px;
        }

            .bar_v_1 .bar-actions .rating span, .bar_h_1 .bar-actions .rating span {
                font-size: 16px;
                color: #ffbd39;
            }

        .bar_v_1 .bar-actions .btn, .bar_h_1 .bar-actions .btn {
            background: #da1b5e;
            color: #fff;
            padding: 10px 20px;
            border-radius: 0;
        }

            .bar_v_1 .bar-actions .btn:hover, .bar_h_1 .bar-actions .btn:hover {
                background: #b90f4b;
                color: #fff;
            }

    .bar_v_1:hover .bar-actions, .bar_h_1:hover .bar-actions, .bar_v_1:focus .bar-actions, .bar_h_1:focus .bar-actions {
        opacity: 1;
        visibility: visible;
    }

.bar-container {
    position: relative;
    text-align: center;
    color: white;
}

.top-center {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-border {
    text-shadow: -2px -2px 0 #000, 1px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.white-text {
    color: white;
    opacity: 1;
}

.col-md-3 {
    display: inline-block;
    margin-left: -4px;
}

/*.col-md-3 img {
        width: 100%;
        height: auto;
    }*/

body.carousel-indicators li {
    background-color: #da1b5e;
}

body.carousel-control-prev-icon,
body.carousel-control-next-icon {
    background-color: #da1b5e;
}

body.no-padding {
    padding-left: 0;
    padding-right: 0;
}

#logOut-button {
    cursor: pointer;
}

.btn-pink {
    color: #dc1b5d !important;
    border-color: #dc1b5d !important;
    border-width: 1px
}

    .btn-pink:hover {
        border-color: #dc1b5d;
        background-color: #dc1b5d;
        color: white !important;
    }

.btn-text-only {
    padding: 0;
    border: none;
    background: none;
}

.logout {
    width: 70px;
    height: 25px;
}

.home-carousel-img {
    width: 90%;
    height: 550px;
    object-fit: cover;
}

.pink-color {
    color: #dc1b5d !important
}

.margin-right-1 {
    margin-right: 1rem;
}

.input-border {
    border: 1px solid #ccc !important;
    border-radius: 3px;
}

nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /*width: 100%;*/
}


header {
    position: fixed;
    z-index: 99;
    top: 0;
    width:100%;
}