@model AddBarsViewModel
@{
    ViewData["Title"] = "Add Bars to cocktail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add Bar for cocktail @Model.CocktailName</h3>
<form asp-action="AddBars" asp-controller="Cocktails">
    <label>Select bars</label>
    <select multiple="multiple" class="multiple-select2 input-group input-group-lg" asp-for="@Model.SelectedBars" asp-items="@Model.AllBars" size="5">
    </select>
    <input type="submit" class="btn btn-light" />
</form>




