@model CocktailsListViewModel
@{
    ViewData["Title"] = "Cocktails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-1">
    <div class="col-12 text-center mb-3">
        <h2 class="font-cinzel">Our Cocktails</h2>
        <p>You can't buy happiness, but you can drink a cocktail and that's the kind of the same thing!</p>
    </div>
</div>
<div>
    <span class="left">
        @if (User.IsInRole("admin"))
        {
            <a href="/Distribution/Cocktails/Add" class="icon-add mr-3 h5 pink-color">Add cocktail</a>
        }
    </span>

    <span class="right">
        <a href="/Distribution/Cocktails/Search" class="icon-search2 h5 pink-color">Search</a>
    </span>
</div>

<hr class="mt-1" />
<div class="container">
    @if (Model.AllCocktails.Count() == 0)
    {
        <div>
            No cocktails in list!
        </div>
    }
    <div class="row">
        @foreach (var cocktail in Model.AllCocktails)
        {
            <div class="col-lg-3 col-md-6" align="center">
                <partial name="_RowCocktail" model="@cocktail" />
            </div>
        }
    </div>
    <ul class="pagination m-1">
        @if (Model.Paging.HasPrevious)
        {
            <li class="page-item"><a class="page-link pink-color" href="/Distribution/Cocktails/Index/@Model.Paging.PreviousPage">Previous</a></li>
        }
        @for (int i = 1; i <= Model.Paging.LastPage; i++)
        {
            @if (Model.Paging.CurrentPage == i)
            {
                <li class="page-item active"><a class="page-link" href="/Distribution/Cocktails/Index/@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link pink-color" href="/Distribution/Cocktails/Index/@i">@i</a></li>
            }
        }
        @if (Model.Paging.HasNext)
        {
            <li class="page-item pink-color"><a class="page-link pink-color" href="/Distribution/Cocktails/Index/@Model.Paging.NextPage">Next</a></li>
        }
    </ul>
</div>

