@model BarReviewViewModel

<div class="comment-box">
    <div class="ml-2 mr-2" align="left">
        By: @Model.UserName<span class="float-right">
    Raiting:
    for (int i = 1; i <= Model.AverageRating; i++)
    {
    <span class="icon-star"></span>
    }
    for (int i = 5; i > Model.AverageRating; i--)
    {
    <span class="icon-star-o"></span>
    }
    @Model.Rating
</span>
    </div>
    <hr />
    @if (Model.Comment != null)
    {
        <div>@Model.Comment</div>
    }
</div>

