@model ReviewViewModel

<div class="margin-container">
    <div class="comment-box">
        <div class="ml-2 mr-2" align="left">
            By: @Model.UserName<span class="float-right">
                Raiting:
                <span class="yellow-color">
                    @for (int i = 1; i <= Model.Rating; i++)
                    {
                        <span class="icon-star"></span>
                    }
                    @for (int i = 5; i > Model.Rating; i--)
                    {
                        <span class="icon-star-o"></span>
                    }
                </span>
                @Model.Rating
            </span>
        </div>
        <hr />
        @if (Model.Comment != null)
        {
            <div class="justify-content-center">@Model.Comment</div>
        }
    </div>
</div>
