@model LoginViewModel
<link href="~/css/login.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>Sign in</h1>
        <form asp-action="Login" asp-controller="Auth">
            <div class="group">
                <input asp-for="LoginUsername" class="form-control" placeholder="User Name" />
                <div>
                    <span asp-validation-for="LoginUsername" class="text-danger"></span>
                </div>
            </div>
            <div class="group">
                <input asp-for="LoginPassword" class="form-control" placeholder="Password" />
                <div>
                    <span asp-validation-for="LoginPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RememberLogin" class="control-label"></label>
                <input asp-for="RememberLogin" />
            </div>

            <div class="group auth-group">
                <button type="submit" class="btn btn-outline-info auth-btn">Sign in</button>
            </div>
        </form>
    </div>
</div>