@{
    ViewData["Title"] = "Login";
}
    <body class="bg-img">
          
            <partial name="_LoginPartial" />
    </body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}