@model AddBarViewModel
@{
    ViewData["Title"] = "Add Bar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center">
    <h2 class="font-cinzel"><span class="icon-add"></span>Add Bar</h2>
</div>
@{ var statusMessage = TempData["Status"]?.ToString(); }
@if (!string.IsNullOrWhiteSpace(statusMessage))
{

    <div class="alert alert-danger  ">
        @statusMessage
    </div>
}

<div>
    <span asp-validation-summary="All" class="text-danger" />
</div>
<hr class="hr-primary" />

<div class="row">
    <div class="col-md-6">
        <form asp-action="/Distribution/Bars/Add">

            <partial name="_BarProperties" model="@Model" />

            <div class="m-4" align="right">
                <input type="submit" value="Add Bar" class="btn btn-pink" />
            </div>
        </form>
    </div>
    <div class="col-md-6">

        <div class="text-link load-add-city-form">Add city to the menu here</div>


        <div style="display:none" id="city-div">
            <div class="m-4">
                <div class="row">
                    <div class="=col-md-3 mr-2 float-md-right">
                        City Name
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="cityName" class=" form-control" id="city-name" />
                        <button class="btn btn-pink mt-4 float-md-right" id="city-to-db">Add city to menu</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



