@model BarsListViewModel
@{
    ViewData["Title"] = "Bars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-1">
    <div class="col-12 text-center mb-3">
        <h2 class="font-cinzel">Our Bars</h2>
        <p>Start the day with a smile and end it with a cocktail! <span class="icon-smile-o"></span></p>
    </div>
</div>
<div>
    <span class="left">
        @if (User.IsInRole("admin"))
        {
            <a href="/Distribution/Bars/Add" class="icon-add mr-3 h5">Add bar</a>
        }
    </span>

    <span class="right">
        <a href="/Distribution/Bars/Search" class="icon-search2 h5">Search</a>
    </span>
</div>

<hr class="mt-1"/>
<div class="container">
    @if (Model.AllBars.Count() == 0)
    {
        <div>
            No bars in list!
        </div>
    }
    <div class="row">
        @foreach (var bar in Model.AllBars)
        {
            <partial name="_BarRow" model="@bar" />
        }
    </div>
</div>
<ul class="pagination">
    @if (Model.Paging.HasPrevious)
    {
        <li class="page-item"><a class="page-link" href="/Distribution/Bars/Index/@Model.Paging.PreviousPage">Previous</a></li>
    }
    @for (int i = 1; i <= Model.Paging.LastPage; i++)
    {
        @if (Model.Paging.CurrentPage == i)
        {
            <li class="page-item active"><a class="page-link" href="/Distribution/Bars/Index/@i">@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" href="/Distribution/Bars/Index/@i">@i</a></li>
        }
    }
    @if (Model.Paging.HasNext)
    {
        <li class="page-item"><a class="page-link" href="/Distribution/Bars/Index/@Model.Paging.NextPage">Next</a></li>
    }
</ul>

